ul {
  font-size: 20px;
  line-height: 1.8;
  list-style-type: none;
}

button{
  color: black;
}
.check-button {
  border-radius: 100%;
  padding: 14px 14px;
  font-size: 10px;
  color: black;
  background: white;
  position:relative;
  bottom:4.4px;
}
.CheckOff-button {
  margin:0px 0px;
  border-radius: 100%;
  padding: 9px 10px;
  font-size: 10px;
  color: black;
  background: white;
}

.incompleteTodo{
  margin:2px 8px;
  border-right:none;
  border-left:none;
  border-top:none;
  outline:none;
  color: black;
  font-size: 1em;
  width: 300px;
}

.completeTodo{
  margin:2px 8px;
  border-right:none;
  border-left:none;
  border-top:none;
  outline:none;
  color: black;
  font-size: 1em;
  width: 300px;
  text-decoration:line-through;
}
